<h1>Favorites:</h1>
<% @properties.each do |property| %>
<a class="text" href="/properties/<%=property.id%>/show"><%= property.address %></a>---<a class="text" href="/favorites/<%=property.id%>/delete">Remove</a><br />
<% end %>
