<h1>Favorites:</h1>
<% @properties.each do |property| %>
<a href="/properties/<%=property.id%>/show"><%= property.address %></a>---<a href="/favorites/<%=property.id%>/delete">Remove</a><br />
<% end %>
