
<hr />
<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <ul>
            <li>
                <%= error %>
            </li>
        </ul>
    <% end %>
<% end %>
  <div class="user-searchbox">
    <h3>Register for Tillow!</h3>
    <form action="/users" method="post">
      <div class="form-group">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            First Name:<input type="text" name="user[first_name]" value=""><br><br>
            Last Name:<input type="text" name="user[last_name]" value=""><br><br>
            Email:<input type="text" name="user[email]" value=""><br><br>
            Password:<input type="password" name="user[password]" value=""><br><br>
            Confirm Password:<input type="password" name="user[password_confirmation]" value=""><br><br>
            Phone Number:<input type="text" name="user[phone_number]"><br><br>
            Are you an Agent?<input name="user[agent]" type="radio" value="true" /> Yes
        <input name="user[agent]" type="radio" value="false" /> No<br><br>
        <input class="buttonf" type="submit" name="" value="Register"><br><br>
      </div>
    </form>
  </div>

  <div class="login-searchbox">
    <h3>Already signed up? Login here:</h3>
    <form action="/users/login" method="post">
      <div class="form-group">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            Email:<input type="text" name="email" value=""><br><br>
            Password:<input type="password" name="password" value=""><br><br>
        <input class="buttonf" type="submit" name="" value="Login">
      </div>
    </form>
  </div>
