<nav>
  <%if session[:current_user_name]%>
  Logged in as <%= session[:current_user_name]%><br />
  <%end%>
  <a href="/properties">Home</a><br />
  <% if session[:current_user_id]%>
  <a href="/users/<%=session[:current_user_id]%>">Edit Profile</a><br />
  <a href="/logout">Logout</a><br />
  <%else%>
  <a href="/users">Login/Register</a><br />
  <%end %>
</nav>
<hr />
<h1>List Your Tiny, but Mighty Home</h1>
<hr><hr>
<form action="/properties" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  Address (Include City and State):<input type="text" name="property[address]" value=""><br><br>
  Zipcode:<input type="text" name="property[zipcode]" value=""><br><br>
  Square Footage:<input type="text" name="property[sq_ft]" value=""><br><br>
  Longitude:<input type="text" name="property[longitude]" value=""><br><br>
  Latitude:<input type="text" name="property[latitude]" value=""><br><br>
  Bedrooms:<select class="" name="property[bedrooms]">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select><br><br>
    Bathrooms:<select class="" name="property[bathrooms]">
        <option value="1">1</option>
        <option value="1.5">1.5</option>
        <option value="2">2</option>
        <option value="2.5">2.5</option>
        <option value="3">3</option>
      </select><br><br>
    Price:<input type="text" name="property[price]" value=""><br><br>
    Rent?<select class="" name="property[rent]">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select><br><br>
    Description:<br><textarea name="property[description]" rows="8" cols="80">
    </textarea><br><br>
    <input onclick="sweetAlert("Submitted Listing")"  type="submit" name="" value="List Home">
</form>
