    <nav class="navbar navbar-default">
      <div class="container">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <a class="navbar-brand" href="/properties">
          <img id="logo" src="/assets/twillow.png" style="display: inline-block;">
        </a>
        <li class="dropdown">
          <% if session[:current_user_id]%>
          <a href="/properties/new" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sell<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>Post a Tiny for Sale</li>
            <li><a href="/properties/new">For Sale by Agent</a></li>
            <li><a href="/properties/new">For Sale by Owner</a></li>
            <li><a href="/properties/new">Coming Soon</a></li>
          </ul>
        </li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Buy<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>Tinies for Sale</li>
            <li><a href="/properties">All Homes for Sale</a></li>
            <li><a href="/properties">For Sale by Owner</a></li>
            <li><a href="/properties">Foreclosures</a></li>
            <li><a href="/properties">Coming Soon</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rent<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>Tinies for Rent</li>
            <li><a href="/properties">Tinies for Rent</a></li>
            <li><a href="/properties">Pet Friendly Rentals</a></li>
            <li><a href="/properties">Rentals on Wheels</a></li>
            <li><a href="/properties">All Rentals</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Agent Finder<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>Find a Pro</li>
            <li><a href="/properties">Tiny Estate Agent</a></li>
            <li><a href="/properties">Property Mangers</a></li>
            <li><a href="/properties">Other Pros</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tiny House Ideas<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>Ideas for Your Tiny Home</li>
            <li><a href="/properties">Interior</a></li>
            <li><a href="/properties">Exterior</a></li>
          </ul>
        </li>
      </ul>
      <!-- <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <%if session[:current_user_name]%>
        Logged in as <%= session[:current_user_name]%><br />
        <li><a href="/properties/new">Add a listing</a></li>
        <%end%>
        <li><a href="/properties">Home</a><br /></li>
        <% if session[:current_user_id]%>
        <li><a href="/users/<%=session[:current_user_id]%>">Edit Profile</a></li>
        <li><a href="/logout">Logout</a></li>
        <%else%>
        <li><a href="/users">Login/Register</a></li>
        <%end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
